{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
        <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                        {% for image in images %}
                        <div class="card mb-3">
                                <div class="card-body">
                                        <h5 class="card-title">{{image.name}}</h5>
                                        <img src="{{ image.image.url }}" class="card-img-top" alt="{{image.name}}">
                                        <p class="card-text">{{image.caption}}</p>
                                        <p class="card-text"><small class="text-muted">{{image.posted}}</small></p>
                                </div>
                                <div class="card-footer">
                                        <!-- <input type="text" name="comment" placeholder="add comment" id="comment"> -->
                                       
                                </div>
                        </div>
                        {% endfor %}
                </div>
                <div class="col-md-3"></div>
        </div>
</div>


{% endblock %}
<p><a href="/login">Login here</a></p>