{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
    
        <div class="col-md-2">
            <div class="row">
            <img src="{{user.profile.profile_photo.url}}" class="img-thumbnail" alt="..." style="border-radius: 50%; height: 150px;width:150px;">
            <h3 class="">{{user.username}}</h3>
            <p>{{user.profile.bio}}</p>
            <button class="btn btn-primary">Follow</button>
        </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <p>Following</p>
                    <span><strong>3k</strong></span>

                </div>
                <div class="col-md-3">followers</div>
                <div class="col-md-3">likes</div>
            </div>
           <a href="{% url 'profile_update' %}"><button class="btn btn-primary">Edit profile</button></a> 

            <div class="row">
                <div class="col-md-3">
                    <img src="" alt=""style="width:200px;height:200px;">
                </div>
                
            </div>
        </div>
    </div>

    
</div>


{% endblock %}