{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-md-8 justify-content-center">
        <div class="row">
            <div class="col-md-4" style="background-color:yellow;">
                <h2 text-align="center">Welcome Friend!!</h2>
                <p text-align="center">Discover the adventure</p>
            </div>
            <div class="col-md-8" style="background-color:black ; color:white;">
                <h2 text-align="center">Create an account</h2>
                <form method="POST">
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn" style="background-color:yellow;">Register</button>
                </form>
            </div>
        </div>

    </div>

</div>

{% endblock %}